# -----------------------------------------------------------------------------
# OS
# -----------------------------------------------------------------------------
*.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# env
.env
.env.*
!.env.example
!.env.test

# venv
.venv
